@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="dashboard-counts">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">

        </div>
    </div>
</section>
<section class="client no-padding-top">
    <div class="container-fluid">
        <div class="row">

        </div>
    </div>
</section>

@section scripts {
    <script>

    </script>
}